.product-box{
    width: 250px;
    height: 550px;
    border: 2px solid gray;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px;
    position: relative;
}
.product-box img{
    width: 250px;
    height: 400px;
    border-radius: 10px;
}
.product-btn{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    border: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 10px;
    color: rgb(12, 68, 68);
    font-size: 16px;
}